.page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin: 15px;
  padding: 5px;

}

.dark-mode{
  background-color: #171717;
}

.dark-mode-button{
  background-color: #171717;
  color: white;
}

.light-mode-button{
  background-color: white;
  color: #171717;
}

body{
  margin: 0;
  padding: 0;
}